---
import '@/assets/styles/main.css'

import type { CollectionEntry } from 'astro:content'
import type { CollectionKey } from 'astro:content'

import { getImage } from 'astro:assets'
import { SITE_LOCALE, SITE_TITLE } from 'astro:env/server'
import Favicon from '@/assets/images/favicon.png'
import Footer from '@/components/Footer.astro'
import Header from '@/components/Header.astro'
import HtmlMeta from '@/components/HtmlMeta.astro'

const favicon = await getImage({ src: Favicon, format: 'png', width: 24 })

type Entry = CollectionEntry<CollectionKey>

type Props = Partial<Entry['data']> & { page: Entry }

const locale = SITE_LOCALE
const siteTitle = SITE_TITLE

const props = Astro.props

const page = props.page
const context = page.data

const pageTitle = props.title ?? context.title
const title = pageTitle ? `${pageTitle} — ${siteTitle}` : siteTitle
---

<!DOCTYPE html>
<html
	class="h-full antialiased"
	lang={locale}
>
	<head>
		<HtmlMeta page={page} />

		<link
			href={favicon.src}
			rel="icon"
			sizes="24x24"
			type="image/png"
		/>

		<link
			rel="sitemap"
			href="/sitemap-index.xml"
		/>

		<link
			rel="alternate"
			type="application/rss+xml"
			title={siteTitle}
			href="/rss.xml"
		>

		<title>{title}</title>
	</head>
	<body class="flex h-full bg-zinc-50 dark:bg-black print:bg-white">
		<div class="flex w-full">
			<div class="fixed inset-0 flex justify-center sm:px-8 print:hidden">
				<div class="flex w-full max-w-7xl lg:px-8">
					<div class="w-full bg-white ring-1 ring-zinc-100 dark:bg-zinc-900 dark:ring-zinc-300/20" />
				</div>
			</div>
			<div class="relative flex w-full flex-col">
				<Header />

				<main class="flex-auto">
					<slot />
				</main>
				<Footer />
			</div>
		</div>
	</body>
</html>
